<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Request</title>
    <link href="../static/css/style1.css" th:href="@{/css/style1.css}" rel="stylesheet">
</head>
<body>

    <div class="login-container">
    
		<div th:if="${error != null}">
			<div class="error-message">
			<p>[[${error}]]</p>
			</div>
			</div>
		
		
		<div th:if="${param.success}">
			<div class="error-message">
			<p>Reset link is send to your email</p>
			</div>
			</div> 
		   
 		   
    
        <h1>PASSWORD REQUEST</h1>
        <form  th:action="@{/password-request}" method="post" th:object="${user}">
            <div class="form-group">
                <label for="username">ENTER YOUR EMAIL</label>
                <input type="text" id="email" name="email" class="form-control" required autocomplete="off">
            </div>
          
            <button type="submit" class="btn-login">Submit</button>
        </form>
        </div>
</body>
</html>
