<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>

<link href="../static/css/style1.css" th:href="@{/css/style1.css}" rel="stylesheet">

</head>
<body>

	<!-- Create HTML registration form -->
	<div class="container">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>


						<h2>REGISTRATION FORM</h2>
			
						<form th:action="@{/registration}" method="post" th:object="${user}">
							
							
								<label class="control-label" for="firstName" >ENTER YOUR FIRST NAME</label> 
								<input id="firstName" class="form-control"
									th:field="*{firstName}" required autofocus="autofocus" placeholder="enter your first name"/> <span
									th:if="${#fields.hasErrors('firstName')}"
									th:errors="*{firstName}"
									class="text-danger error-message error"></span>

						

							
								<label class="control-label" for="lastName">ENTER YOUR LAST NAME</label> <input
									id="lastName" class="form-control" th:field="*{lastName}"
									required autofocus="autofocus" placeholder="enter your last name"/> <span
									th:if="${#fields.hasErrors('lastName')}"
									th:errors="*{lastName}" class="text-danger error-message error" ></span>
							

							
								<label class="control-label" for="email">ENTER YOUR EMAIL </label> <input
									id="email" class="form-control" type="email"
									th:field="*{email}" required autofocus="autofocus" placeholder="enter your email"/> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger error-message error"></span> <span
									th:if="${userexist}">Already registered try different id</span>
						

						
								<label class="control-label" for="password">ENTER YOUR PASSWORD </label> <input
									id="password" class="form-control" type="password"
									th:field="*{password}" required autofocus="autofocus" placeholder="enter your paassword"/> <span
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}" class="text-danger error-message error"></span>
							

							
								<button type="submit">REGISTER</button>
								<br>
								<span>Already registered? <a href="/" th:href="@{/login}">Login
										here</a></span>
							
						</form>
					</div>
</body>
</html>