<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    
</head>
<body>

    <div class="login-container">
    
 		   <!--  <div th:if="${message != null}">
			<div class="error-message">
			<p>[[${message}]]</p>
			</div>
			</div>-->
    
        <h1>Password Reset</h1>
        <form  th:action="@{/reset-password}" method="post" th:object="${user}" onsubmit="return validatePassword()">
            <div class="form-group">
                <div class="form-group">
                <label for="password">Enter new PASSWORD</label>
                <input  type="password" id="password" name="password" class="form-control" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password">Confirm new PASSWORD</label>
                <input  type="password" id="confirmPassword" name="password" class="form-control" required autocomplete="off">
            </div>
            </div>
          
            <button type="submit" class="btn-login">Submit</button>
             <span><a th:href="@{/login}">Login</a></span>
        </form>
        </div>
        
        <script type="text/javascript">
        
        function validatePassword()
        {
        	
        	var password = document.getElementById("password").value;
        	var confirmPassword = document.getElementById("confirmPassword").value;
        	
        	if (password === "" || confirmPassword === "") {
                alert("Both password fields cannot be empty.");
                return false;
            }
        	
        	if(password !== confirmPassword)
        		{
        			alert("password mismatch");
        			return false;
        		}
        	
        		alert("password changed");
        		return true;

        }
        
        </script>
        
        
        
        
</body>
</html>
